<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/common-style.css" />
    <script></script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <p class="navbar-brand">Connex.us</p>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="manage">Manage</a></li>
                    <li class="active"><a href="create">Create</a></li>
                    <li><a href="view">View</a></li>
                    <li><a href="search">Search</a></li>
                    <li><a href="trending">Trending</a></li>
                    <li><a href="social">Social</a></li>
                    <li><a href={{url}}>{{url_linktext}}</a><li></li>
                </ul>
            </div>
        </nav>
    </div>
    <hr size="5" />
    <br>

    <form action="/sign" method="post">
        <table>
            <tr>
                <td><textarea name="streamname" rows="3" cols="60" placeholder = "Big news"></textarea></td>
                <td><textarea name="streamtags" rows="3" cols="60" placeholder = "#UTexas, #Too young too simple, #Naive"></textarea></td>
            </tr>
            <tr>
                <td align="center" valign="top"><b><big>Name Your Stream</big></b></td>
                <td align="center" valign="top"><b><big>Tag Your Stream</big></b></td>
            </tr>
        </table>
        <br>
        <br>
        <br>
        <table>
            <tr>
                <td><textarea name="subscribers" rows="3" cols="60" placeholder = "Input subscribers' emails"></textarea></td>
                <td><textarea name="url" rows="3" cols="60" placeholder = "cover page URL"></textarea></td>
            </tr>
            <tr>
                <td><textarea name="context" rows="3" cols="60" placeholder="Option message for invite" ></textarea></td>
                <td align="center" valign="top" ><b><big>URL to to Cover Image</big></b></td>
            </tr>
            <tr>
                <td align="center" valign="top"><b><big>Add Subscribers</big></b></td>
            </tr>
        </table>
        <input type="submit" value="Create Stream">
    </form>
</body>
</html>
{% endautoescape %}